body {
    margin: 0;
    height: 550px;
    width: 550px;
    background: #1F2937;
}

#hero {
    width: 400px;
    margin: 50px 145px 50px 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: white;
}

#gen-btn-sec {
    margin: 0px 145px 60px 50px;
}

.generate-btn {
    color: white;
    background-color: #4ADF86;
    width: fit-content;
    padding: 10px 20px;
    border: 0 solid #4ADF86;
    border-radius: 5px;
}

h1 {
    margin-bottom: 0;
}

span {
    color: #4ADF86;
}

#password-sec {
    margin: 0 auto;
    width: 500px;
    border-top: 1px solid #2F3E53;
    display: flex;
    flex-direction: start;
    justify-content: space-around;
}

.password-btn {
    text-align: center;
    padding: 10px 0 0 0;
    width: 200px;
    height: 30px;
    margin: 20px;
    color: #4ADF86;
    background: #273549;
    border: 2px solid #273549;
    border-radius: 5px;
}